fastapi==0.89.1
uvicorn==0.20.0
requests==2.24.0
SQLAlchemy==1.4.46
psycopg2==2.9.5
pydantic==1.10.4


# Tests
pytest==6.1.1

# Tools
alembic==1.9.1

# Token
bcrypt==4.0.1
passlib==1.7.4
cryptography==39.0.0
ecdsa==0.18.0
pyasn1==0.4.8
python-jose==3.3.0
rsa==4.9

httpcore==0.16.3
httpx==0.23.3
rfc3986==1.5.0

